---
import MainLayout from '../layouts/Main/Main.astro';
// import SectionCta from '@components/Sections/SectionCta/SectionCta.vue';
import type { CmsSection, CmsSectionCta } from '@/types/models/Cms';
import { CmsSections } from '@/types/enums/Cms';
import { client } from '@/api';

let articles = null;

try {
	const { results } = await client.getByType('article');
	articles = results;
} catch (error) {
	console.log(error);
}

console.log(articles);

// const sectionCtaData: CmsSectionCta = response?.data.page.body.find((section: CmsSection) => section.__typename === CmsSections.Cta);
---

<MainLayout title="Home">
	<div class="home-page">
		<!-- <SectionCta data={sectionCtaData} client:visible /> -->
	</div>
</MainLayout>
